<ion-header>
  <ion-toolbar>
    <ion-title>product-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
      <ion-card *ngFor="let item of items" [routerLink]="['/','product-details',item.id]">
          <p>{{item.name}}</p>
        <ion-card-content>
         
          <img [sr]c="item.image" >
          <ion-grid>
            <ion-row>
              <ion-col>
                Price :${{item.price}}
              </ion-col>
              <ion-col>
                  <ion-icon name="ios-heart-outline"></ion-icon> {{item.rating}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

</ion-content>
