

ion-card {
    width: 45%;
    float: left;
    padding: 0;
    margin: 8px;
    border-radius: 0;
    text-align: center
}

ion-card-content {
    padding: 0;
}

ion-card img {
    min-height: 65px;
    width: 38%;
    margin: 20px auto;
    padding: 1px;
}