<ion-header>
  <ion-toolbar>
    <ion-title>Chocolate Milk </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <img src="./assets/img/1382542442044.jpeg" alt="">
    </ion-row>
    <ion-row>
      <p>The grid is composed of three units — a grid, row(s) and column(s). Columns will expand to fill their row, and
        will resize to fit additional columns. It is based on a 12 column layout with different breakpoints based on
        the screen size. The number of columns and breakpoints can be fully customized using Sass.</p>
    </ion-row>
    <ion-row  class="price-section">
      <ion-col>
       <p></p>
       <ion-item>
        <ion-label>Quantity</ion-label>
        <ion-select (chanage)="selectQty($event)" value="brown" ok-text="Okay" cancel-text="Dismiss">
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
          <ion-select-option value="4">4</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-col>
      <ion-col>
        <p>Total</p>
        <p>$50</p>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-button  class="order" shape="round" color="primary" fill="outline">Place The Order </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>