<ion-header>
  <ion-toolbar>
    <ion-title>Chocolate Milk </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <img src="./assets/img/1382542442044.jpeg" alt="">
    </ion-row>
    <ion-row>
      <p>The grid is composed of three units — a grid, row(s) and column(s). Columns will expand to fill their row, and
        will resize to fit additional columns. It is based on a 12 column layout with different breakpoints based on
        the screen size. The number of columns and breakpoints can be fully customized using Sass.</p>
    </ion-row>
    <ion-row  class="price-section">
      <ion-col>
       <p>quantity</p>
       <p>5</p>
      </ion-col>
      <ion-col>
        <p>Total</p>
        <p>$50</p>
      </ion-col>
    </ion-row>
    <ion-row>
        <button class="order" ion-button round>Place The Order </button>
    </ion-row>
  </ion-grid>
</ion-content>