img {
    max-height: 275px;
    padding: 30px;
}

p {
    color: #404040;
}

.price-section {
    margin: 25px 0;
    text-align: center;
}

button {
    background: #05923c;
    border-radius: 0;
    width: 100%;
}

